---
import BlogLayout from '../../layouts/BlogLayout.astro';
---

<BlogLayout
  title="Getting Started with Astro"
  date="2024-03-15"
  description="Learn how to build fast websites with Astro and Tailwind CSS"
>
  <p>
    Astro is a modern static site builder that delivers lightning-fast performance with a modern developer experience.
  </p>

  <h2>Why Astro?</h2>
  <p>
    Astro is designed for content-focused websites. It's perfect for blogs, documentation, marketing sites, and more.
    The key features that make Astro special include:
  </p>

  <ul>
    <li>Zero JavaScript by default</li>
    <li>Component Islands architecture</li>
    <li>Built-in Markdown support</li>
    <li>TypeScript support out of the box</li>
  </ul>

  <h2>Getting Started</h2>
  <p>
    To create a new Astro project, you can use the following command:
  </p>

  <pre><code>npm create astro@latest</code></pre>

  <p>
    This will guide you through the process of setting up your first Astro project.
  </p>
</BlogLayout> 