---
import Layout from '../../layouts/Layout.astro';

const title = "Social media sucks";
const description = "A critical look at the impact of social media on our lives";
const pubDate = "2024-03-26";
---

<Layout title={title}>
  <article class="prose prose-lg mx-auto">
    <h1>TLDR:</h1>
    <div class="bg-gray-100 p-4 rounded-lg my-4">
      <ol>
        <li>I am doing everything in my power to cut out social media in my life (while keeping the good parts of it).</li>
        <li>This includes using apps like Freedom and NoSwipe to disallow or cut down parts of the application so I am just not going to engage with these apps.</li>
        <li>My life is way more productive, and my "rest" is really rest:
          <ol type="a">
            <li>I am able to enjoy actual physical things like basketball and lifting weights, and actual mental things like chess and Starcraft.</li>
            <li>I am able to watch movies and stuff that I actually like instead of random shit.</li>
            <li>This includes doing nothing (just staring into space or pacing through a room).</li>
          </ol>
        </li>
      </ol>
    </div>

    <h1>Trying to do literally anything except scrolling/random browsing</h1>
    <p>I am at the point in my life (36 years old as of 2025) where I can start to look back on specific days, months, and years and figure out if what I was spending my time on was actually worth it or not.</p>
    
    <p>I want to make sure of the distinction between "non-productive time" and "wasted time". Because for me, there are a lot of things that I can say are "non-productive", but are not "wasted":</p>

    <ol>
      <li>Hanging out with the girlfriend to do grocery shopping, take a walk around the neighborhood, or just talking about our lives</li>
      <li>Chilling with friends</li>
      <li>Playing Mahjong with mom and dad for three hours</li>
      <li>Going to the basketball court and playing for two hours with people half my age
        <ol type="a">
          <li>Or watching "how to get better at basketball" vids on the phone</li>
        </ol>
      </li>
      <li>Practicing dribbling a basketball by myself at the park like a crazy person</li>
      <li>Watching Starcraft replays for up to 30 minutes a day</li>
      <li>Listening to standup comedy</li>
      <li>Struggling how to combine Lego, a task that literally a child can do</li>
      <li>Struggling how to speak Spanish, something that like half a billion people can do</li>
      <li>Catching up with an old friend both on social media or in person</li>
    </ol>

    <p>These are not, strictly speaking, "productive" in that they increase my future economic potential, but they are not wasted. I enjoy every single second I spend with my family. I legitimately love Starcraft, chess, then NBA, and random history facts. If I am forced to retire and barred from practicing software development, then see you on the court or in a chess tournament.</p>

    <h1>What is wasted time?</h1>
    <p>Way, way, up on that list of wasted time is doomscrolling or random social media videos. Like most other people, I've spent so much time on this, I'm embarrassed to even figure out how much this time is. And the sad thing is, I really don't remember much of it. I could literally have been punching myself for all I know, but I cannot really remember a decent YouTube short or decent Instagram reel that I've watched. Nearly all of them were just fast-forwarded moments in time just like in Click.</p>

    <p>What else do I consider "wasted time" now?</p>
    <ol>
      <li>Random "social" media consumption. Yeah, this is so bad I listed it twice.</li>
      <li>Playing DotA with no actual objective and getting a bigger headache from it than work at best, and flat out malding at worst. (My dotabuff is cubao_gaming). I have thousands of hours here.
        <ol type="a">
          <li>I do not regret playing DotA, but I do regret all the hours I've spent there. I think a thousand hours is enough already lol.</li>
        </ol>
      </li>
      <li>Randomly consuming a Twitch stream. Up to now I have no idea why I was watching some random streamers do Among Us videos during the lockdown. I could probably have just read a book or at least did some sit-ups or something.</li>
      <li>Opening a forum thread on Reddit that has no use to me whatsoever, just some arguments about the NBA or watching some ESPN stuff about who is the greatest player of all time.</li>
    </ol>

    <div class="bg-gray-100 p-4 rounded-lg my-4">
      <p>Basically my heuristic here is: What am I actually getting from this shit?</p>
    </div>

    <h1>Literally doing nothing is better!</h1>
    <p>Of course, there are times where "eh, I can't be bothered to code, and I can't be bothered to read, and I can't be bothered to go to the gym, and I can't be bothered for a chess game, and I can't be bothered…".</p>

    <p>If I get to that point, then I just… literally do nothing.</p>

    <p>I can just keep pacing around the living room like an idiot, I can listen to some music, and I can browse some Reddit or Hacker News, but I refuse to watch random shit that I just space out watching.</p>

    <h1>How was the transition?</h1>
    <p>Absolutely painful. It was pitiful even being in a taxi and just listening to something while not checking my phone. I really have to hand it to all the peeps at Facebook, Google, etc. You know what type of content keeps me engaged.</p>

    <h1>Absolutely nuts</h1>
    <p>You know honestly it's pretty life-changing in that I can come up with some ideas while I'm just not doing anything. Literally this blog entry came from me wondering about the value of my time.</p>
  </article>
</Layout>